.map-container{
  height: 350px;
}

.main-container{
  padding-left: 5%;
  padding-right: 5%;
}

.codi{
  background-color: lightgrey;
  border: 2px solid var(--header-color);
  border-radius: 7px;
  padding: 15px;
}

.cool-link{
  color: darkorchid;
  text-decoration: none;
}
