<div class="container-fluid main-container">

  <div class="row">
    <div class="col-sm-11">
      <h1>GML - Compatibilitat</h1>
    </div>
    <div class="col-sm-1">
      <a routerLink="/" class="cool-link">BACK</a>
    </div>
  </div>

  <div class="row mb-2">

    <div class="col-sm-12">
      <pre class="codi">
map.getViewport().addEventListener('drop', function(event) {{'{'}}
event.preventDefault();
const files = event.dataTransfer.files;
for (let i = 0, ii = files.length; i < ii; ++i) {{'{'}}
  const file = files.item(i);
  loadshp({{'{'}}url: file, encoding: 'utf-8'}, function(geojson) {{'{'}}
    const features = new ol.format.GeoJSON().readFeatures(
      geojson,
      {{'{'}} featureProjection: map.getView().getProjection() }
    );
    const vectorSource = new ol.source.Vector({{'{'}}
      features: features
    });

    map.addLayer(
      new ol.layer.Vector({{'{'}}
        source: vectorSource,
        style: featureStyle
      })
    );

    map.getView().fit(vectorSource.getExtent());
  });
  }
});
      </pre>
    </div>

  </div>

</div>
