header {
  background-color: var(--header-color);
  color: var(--header-text-color);
  margin-bottom: 25px;
  padding: 2em;
}
header .title {
  font-size: 28px;
  font-weight: bold;
}

.linkUser {
  background-color: white;
  text-decoration: none;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  color: var(--header-color);
}

.linkUser:hover{
  background-color: lightgrey;
  border-color: lightgrey;
}
