<div class="container-fluid main-container">

  <div class="row">
    <div class="col-sm-11">
      <h1>PAN - Control i Interacció</h1>
      <p>Afegir o treure els diferents tipus de Pan, a nivell d'interacció.</p>
    </div>
    <div class="col-sm-1">
      <a routerLink="/" class="cool-link">BACK</a>
    </div>
  </div>

  <div *ngIf="this.maxY && this.minY && this.minX && this.maxX && this.centreX && this.centreY" class="row">
    <div class="col-sm-12 map-container">
      <app-map [map]="map"></app-map>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-6">
      <app-scaleline [map]="map"></app-scaleline>
    </div>
    <div class="col-sm-6" align="right">
      <app-mouse-position [map]="map" positionTemplate="{x}, {y} m"></app-mouse-position>
    </div>
  </div>
</div>
