<div class="container-fluid main-container">

  <div class="row">
    <div class="col-sm-11">
      <h1>PAN - Control i Interacció</h1>
      <p>Afegir o treure els diferents tipus de Pan, a nivell d'interacció.</p>
    </div>
    <div class="col-sm-1">
      <a routerLink="/" class="cool-link">BACK</a>
    </div>
  </div>

  <div *ngIf="this.maxY && this.minY && this.minX && this.maxX && this.centreX && this.centreY" class="row">
    <div class="col-sm-12 map-container">
      <app-map [map]="map"></app-map>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-6">
      <app-scaleline [map]="map"></app-scaleline>
    </div>
    <div class="col-sm-6" align="right">
      <app-mouse-position [map]="map" positionTemplate="{x}, {y} m"></app-mouse-position>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <b>CODI FITXER TYPESCRIPT</b>
      <pre class="codi">
const varPanTask = 1; // Valor que ve de l'API
const dragPan = new DragPan();
const keyboardPan = <span class="imp">new KeyboardPan();</span>

this.map = new Map({{"{"}}
  controls: [],
  interactions: defaultInteractions({{"{"}}
    dragAndDrop: false,
    dragPan: false,
    keyboardPan: false
  }),
  layers: myLayers,
  target: 'map',
  view: new View({{"{"}}
    projection: myProjection,
    extent: myExtent,
    center: [this.centreX, this.centreY],
    zoom: 10
  {{"}"}})
{{"}"}});

// Condicionals amb els controls que afegeixen
if (varPanTask) {{"{"}}
  this.map.addInteraction(dragPan);
  this.map.addInteraction(keyboardPan);
}
      </pre>
    </div>
    <div class="col-sm-6">
      <b>CODI FITXER HTML</b>
      <pre class="codi">
<&zwj;div class="row">
  <&zwj;div class="col-sm-12 map-container">
    <&zwj;app-map [map]="map"><&zwj;/app-map>
  <&zwj;/div>
<&zwj;/div>
      </pre>
    </div>
  </div>
</div>
