<div class="container-fluid main-container">

  <div class="row">
    <div class="col-sm-11">
      <h1>PAN - Control i Interacció</h1>
      <p>Afegir o treure els diferents tipus de Pan, a nivell d'interacció.</p>
    </div>
    <div class="col-sm-1">
      <a routerLink="/" class="cool-link">BACK</a>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-12 map-container">
      <app-map [map]="map"></app-map>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-6">
      <app-scaleline [map]="map"></app-scaleline>
    </div>
    <div class="col-sm-6" align="right">
      <app-mouse-position [map]="map" positionTemplate="{x}, {y} m"></app-mouse-position>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <b>CODI FITXER TYPESCRIPT</b>
      <pre class="codi">
this.map = this.utilsService.getMap();

if (this.utilsService.hasPanTask()) {{"{"}}
  this.map.addInteraction(new DragPan());
  this.map.addInteraction(new KeyboardPan());
}
      </pre>
    </div>
    <div class="col-sm-6">
      <b>CODI FITXER HTML</b>
      <pre class="codi">
<&zwj;div class="row">
  <&zwj;div class="col-sm-12 map-container">
    <&zwj;app-map [map]="map"><&zwj;/app-map>
  <&zwj;/div>
<&zwj;/div>
      </pre>
    </div>
  </div>
</div>
