<div class="container-fluid container-grid">

  <div class="row">

    <div class="col-sm-4">
      <a routerLink="1" class="gridElement">
        <div class="divGridElement">
          <h3>BASIC MAP</h3>
          <p>Mapa genèric amb zero indicadors</p>
        </div>
      </a>
    </div>

    <div class="col-sm-4">
      <a routerLink="2" class="gridElement">
        <div class="divGridElement">
          <h3>WMS</h3>
          <p>Com realitzar la lectura d'un WMS i posar la informació a un mapa.</p>
        </div>
      </a>
    </div>

    <div class="col-sm-4">
      <a routerLink="zoom" class="gridElement">
        <div class="divGridElement">
          <h3>ZOOM - Control i Interacció</h3>
          <p>Afegir o treure els diferents tipus de Zooms, a nivell de control i interacció.</p>
        </div>
      </a>
    </div>

   </div>

  <div class="row">

    <div class="col-sm-4">
      <a routerLink="pan" class="gridElement">
        <div class="divGridElement">
          <h3>PAN - Control i Interacció</h3>
          <p>Afegir o treure els diferents tipus de Pan, a nivell d'interacció.</p>
        </div>
      </a>
    </div>

    <div class="col-sm-4">
      <a routerLink="background" class="gridElement">
        <div class="divGridElement">
          <h3>Mapes de Fons - Selecció i gestió</h3>
          <p>Tenir un mapa de fons i poder escollir entre diversos.</p>
        </div>
      </a>
    </div>

  </div>

</div>
