<div class="container-fluid container-grid">

  <div class="row">

    <div class="col-sm-4">
      <a routerLink="1" class="gridElement">
        <div class="divGridElement">
          <h3>BASIC MAP</h3>
          <p>Mapa genèric amb zero indicadors</p>
        </div>
      </a>
    </div>

    <div class="col-sm-4">
      <a routerLink="2" class="gridElement">
        <div class="divGridElement">
          <h3>WMS</h3>
          <p>Com realitzar la lectura d'un WMS i posar la informació a un mapa.</p>
        </div>
      </a>
    </div>

    <div class="col-sm-4">
      <a routerLink="zoom" class="gridElement">
        <div class="divGridElement">
          <h3>ZOOM - Control i Interacció</h3>
          <p>Afegir o treure els diferents tipus de Zooms, a nivell de control i interacció.</p>
        </div>
      </a>
    </div>

   </div>

  <div class="row">

    <div class="col-sm-4">
      <a routerLink="pan" class="gridElement">
        <div class="divGridElement">
          <h3>PAN - Control i Interacció</h3>
          <p>Afegir o treure els diferents tipus de Pan, a nivell d'interacció.</p>
        </div>
      </a>
    </div>

    <div class="col-sm-4">
      <a routerLink="background" class="gridElement">
        <div class="divGridElement">
          <h3>Mapes de Fons - Selecció i gestió</h3>
          <p>Tenir un mapa de fons i poder escollir entre diversos.</p>
        </div>
      </a>
    </div>

    <div class="col-sm-4">
      <a routerLink="capes" class="gridElement">
        <div class="divGridElement">
          <h3>Capes - Selecció i gestió</h3>
          <p>Gestió de les diverses capes que tenim a un mapa i les seves opacitats.</p>
        </div>
      </a>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-4">
      <a routerLink="altres" class="gridElement">
        <div class="divGridElement">
          <h3>WMTS</h3>
          <p>Compatibilitat en tipus de mapes WMTS.</p>
        </div>
      </a>
    </div>

    <div class="col-sm-4">
      <a routerLink="wfs" class="gridElement">
        <div class="divGridElement">
          <h3>WFS</h3>
          <p>Compatibilitat en tipus de mapes WFS.</p>
        </div>
      </a>
    </div>

    <div class="col-sm-4">
      <a routerLink="geojson" class="gridElement">
        <div class="divGridElement">
          <h3>GeoJSON</h3>
          <p>Compatibilitat en tipus de mapes GeoJSON.</p>
        </div>
      </a>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-4">
      <a routerLink="kml" class="gridElement">
        <div class="divGridElement">
          <h3>KML</h3>
          <p>Compatibilitat en tipus de mapes KML.</p>
        </div>
      </a>
    </div>

    <div class="col-sm-4">
      <a routerLink="shape" class="gridElement">
        <div class="divGridElement">
          <h3>ShapeFile</h3>
          <p>Compatibilitat en tipus de mapes ShapeFile.</p>
        </div>
      </a>
    </div>

    <div class="col-sm-4">
      <a routerLink="gml" class="gridElement">
        <div class="divGridElement">
          <h3>GML</h3>
          <p>Compatibilitat en tipus de mapes GML.</p>
        </div>
      </a>
    </div>

  </div>

</div>
