<div class="container-fluid container-grid">
  <div class="row">

    <div class="col-sm-4">
      <a routerLink="/1" class="gridElement">
        <div class="divGridElement">
          <h3>BASIC MAP</h3>
          <p>Mapa genèric amb zero indicadors</p>
        </div>
      </a>
    </div>

    <div class="col-sm-4">
      <a routerLink="2" class="gridElement">
        <div class="divGridElement">
          <h3>WMS</h3>
          <p>Com realitzar la lectura d'un WMS i posar la informació a un mapa.</p>
        </div>
      </a>
    </div>

   </div>
</div>
