<div class="container-fluid main-container">

  <div class="row">
    <div class="col-sm-11">
      <h1>Lectura WMS</h1>
      <p>Com realitzar la lectura d'un WMS i plasmar-la en una capa d'un mapa.</p>
    </div>
    <div class="col-sm-1">
      <a routerLink="/" class="cool-link">BACK</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 map-container">
      <app-map [map]="map"></app-map>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-sm-6">
      <app-scaleline [map]="map"></app-scaleline>
    </div>
    <div class="col-sm-6" align="right">
      <app-mouse-position [map]="map" positionTemplate="{x}, {y} m"></app-mouse-position>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-6">
      <b>CODI FITXER TYPESCRIPT</b>
      <pre class="codi">
proj4.defs(
  'EPSG:25831',
  '+proj=utm +zone=31 +ellps=GRS80 +units=m +no_defs'
);
proj4.defs(
  'EPSG:3857',
  '+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0
   +x_0=0.0 +y_0=0 +k=1.0 +units=m +nadgrids=@null +wktext  +no_defs'
);
register(proj4);

this.map = this.utilsService.getMap();
      </pre>
    </div>
    <div class="col-sm-6">
      <b>CODI FITXER HTML</b>
      <pre class="codi">
<&zwj;div class="row">
  <&zwj;div class="col-sm-12 map-container">
    <&zwj;app-map [map]="map"><&zwj;/app-map>
  <&zwj;/div>
<&zwj;/div>
      </pre>
    </div>
  </div>

</div>
