<div class="container-fluid main-container">

  <div class="row">
    <div class="col-sm-11">
      <h1>Lectura WMS</h1>
      <p>Com realitzar la lectura d'un WMS i plasmar-la en una capa d'un mapa.</p>
    </div>
    <div class="col-sm-1">
      <a routerLink="/" class="cool-link">BACK</a>
    </div>
  </div>

  <div *ngIf="this.maxY && this.minY && this.minX && this.maxX && this.centreX && this.centreY" class="row">
    <div class="col-sm-12 map-container">
      <app-map [map]="map"></app-map>
    </div>
  </div>

</div>
