<div class="container-fluid main-container">

  <div class="row">
    <div class="col-sm-11">
      <h1>ZOOM - Control i Interacció</h1>
      <p>Afegir o treure els diferents tipus de Zooms, a nivell de control i interacció.</p>
    </div>
    <div class="col-sm-1">
      <a routerLink="/" class="cool-link">BACK</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button (click)="centerMap()" class="centerButton">CENTER</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 map-container">
      <app-map [map]="map"></app-map>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-sm-6">
      <app-scaleline [map]="map"></app-scaleline>
    </div>
    <div class="col-sm-6" align="right">
      <app-mouse-position [map]="map" positionTemplate="{x}, {y} m"></app-mouse-position>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <b>CODI FITXER TYPESCRIPT</b>
      <pre class="codi">

const varZoomSlider = 1; //Variable Task API
const zoomSlider = new ZoomSlider();
const zoomButtons = new Zoom();
const zoomClick = new DoubleClickZoom();

this.map = new Map({{"{"}}
  controls: [],
  interactions: defaultInteractions({{"{"}}
    doubleClickZoom: false,
    keyboardZoom: false,
    mouseWheelZoom: false
  }),
  layers: myLayers,
  target: 'map',
  view: new View({{"{"}}
    projection: myProjection,
    extent: myExtent,
    center: [this.centreX, this.centreY],
    zoom: 10
  {{"}"}})
{{"}"}});

// Condicionals amb els controls que afegeixen
if (varZoomSlider) {{"{"}}
    this.map.addControl(zoomSlider);
    this.map.addControl(zoomButtons);
    this.map.addInteraction(zoomClick);
}
      </pre>
    </div>
    <div class="col-sm-6">
      <b>CODI FITXER HTML</b>
      <pre class="codi">
<&zwj;div class="row">
  <&zwj;div class="col-sm-12 map-container">
    <&zwj;app-map [map]="map"><&zwj;/app-map>
  <&zwj;/div>
<&zwj;/div>
      </pre>
    </div>
  </div>

</div>
