.map-container{
  height: 350px;
}

.main-container{
  padding-left: 5%;
  padding-right: 5%;
}

.codi{
  background-color: whitesmoke;
  border: 2px solid var(--header-color);
  border-radius: 7px;
  padding: 15px;
}

.cool-link{
  color: darkorchid;
  text-decoration: none;
}

.centerButton {
  color: white;
  display: block;
  background-color: rgba(0, 60, 136, 0.5);
  font-weight: bold;
  border-radius: 2px;
  border: none;
}

.centerButton:hover{
  background-color: rgba(0,60,136,0.7);
}
