<div class="container-fluid main-container">

  <div class="row">
    <div class="col-sm-11">
      <h1>WFS - Compatibilitat</h1>
    </div>
    <div class="col-sm-1">
      <a routerLink="/" class="cool-link">BACK</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 map-container mb-5" style="height: 500px;">
      <app-map [map]="map"></app-map>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-6">
      <app-scaleline [map]="map"></app-scaleline>
    </div>
    <div class="col-sm-6" align="right">
      <app-mouse-position [map]="map" positionTemplate="{x}, {y} m"></app-mouse-position>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <b>CODI FITXER TYPESCRIPT</b>
      <pre class="codi">
const vectorSource2 = new VectorLayer({{"{"}}
  source: new VectorSource({{"{"}}
    format: new GeoJSON(),
    url: 'https://geoserveis.icgc.cat/servei/catalunya/divisions-administratives/wfs?version=2.0.0&request=getfeature&service=wfs&&&typenames=divisions_administratives_comarques_1000000&srsname=EPSG:3857&&outputFormat=geojson',
  }),
  style: new Style({{"{"}}
    stroke: new Stroke({{"{"}}
    color: 'blue',
    width: 3,
    }),
    fill: new Fill({{"{"}}
    color: 'rgba(0, 0, 255, 0.1)',
    }),
  }),
});

const raster = new TileLayer({{"{"}}
    source: new OSM()
});

this.map =  new Map({{"{"}}
    layers: [raster, vectorSource2],
    target: document.getElementById('map'),
    view: new View({{"{"}}
    center: this.getCentre('EPSG:25831'),
    maxZoom: 19,
    zoom: 10,
  }),
});
}
      </pre>
    </div>
    <div class="col-sm-6">
      <b>CODI FITXER HTML</b>
      <pre class="codi">
<&zwj;div class="row">
  <&zwj;div class="col-sm-12 map-container">
    <&zwj;app-map [map]="map"><&zwj;/app-map>
  <&zwj;/div>
<&zwj;/div>
      </pre>
    </div>
  </div>

</div>

