@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto';
    color: var(--text-color);
    margin: 0;
    --header-color: rgb(0,123,192);
    --header-text-color: white;
    --text-color: black;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ol-control {
  background-color: rgba(255, 255, 255, 0.7) !important;
  border: 1px solid white;
}

.ol-control:hover {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
